body {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

.centered-btn {
  display: block;
  margin: 20px auto;
}

img {
  max-width: 90%;
  margin: 0 auto;
}

.alert {
  font-size: 32px;
}

.slide-to-unlock-wrapper {
  display: block;
  position: relative;
  margin: 20px auto;
  max-width: 90%;
  width: 400px;
  height: 80px;
}

.slide-to-unlock-wrapper .dragdealer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  background: none;
  height: auto;
}

.slide-to-unlock-wrapper .handle {
  height: 100%;
  border-radius: 0;
}

.slide-to-unlock-wrapper .disabled {
  background: none;
}

.slide-to-unlock-wrapper .slide-text {
  position: absolute;
  top: 0;
  height: 80px;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
}

.slider {
  border-radius: 16px;
  background: #222;
  background-image: -webkit-linear-gradient(top, #111 0%, #333 100%);
  background-image: -moz-linear-gradient(top, #111 0%, #333 100%);
  background-image: -o-linear-gradient(top, #111 0%, #333 100%);
  background-image: linear-gradient(to bottom, #111 0%, #333 100%);
}

.slider .dragdealer {
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

.slider .slide-text {
  right: 0;
  width: 290px;
  height: 70px;
  color: #999;
  line-height: 70px;
  cursor: default;
}

.slider .handle {
  width: 100px;
  border-radius: 12px;
  background: #ccc;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #aaa 100%);
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #aaa 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #aaa 100%);
  background-image: linear-gradient(to bottom, #f1f1f1 0%, #aaa 100%);
}
